/*

Assignment 02 - Personification of the web/Interactive personality
Rebecca Malagisi

Some description of the CSS styling

*/


html, body {
  height:100%;
  font-family: sans-serif;

}


#audioDiv {
  height:300px;
  width:300px;
  background-color: white;

}
